.nav-item .dropdown-menu .dropdown-item:hover {
    background-color: transparent !important;
    color: #2596be !important;
}

.nav-item .dropdown-menu .dropdown-item.active {
    color: red !important;
    background-color: transparent !important;
}
