.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #2596be !important;
}

 .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
  color: #ffffff !important;
}

.navbar-nav {
  width: 100%;
  justify-content: center;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar-nav li {
  margin-right: 5rem;
  font-size: 18px;
  font-weight: bold;
}

.navbar-nav li:hover .nav-link {
  color: #1f6b9b !important;
}

.navbar-nav li:last-child {
  margin-right: 150px;
}