.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #2596be !important;
}

 .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
  color: #ffffff !important;
}

.navbar-nav {
  width: 100%;
  justify-content: center;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar-nav li {
  margin-right: 5rem;
  font-size: 18px;
  font-weight: bold;
}

.navbar-nav li:hover .nav-link {
  color: #1f6b9b !important;
}

.navbar-nav li:last-child {
  margin-right: 150px;
}

/* Adjustments for screens up to 1366px wide */
@media (max-width: 1366px) {
    .navbar-nav li {
        margin-right: 3rem; /* Slightly reduced margin */
        font-size: 16px; /* Slightly smaller font size */
    }

    .navbar-brand {
        font-size: 1.75rem; /* Adjusted brand size */
    }

    /* Additional adjustments can be added here if needed */
}

/* Further adjustments for screens up to 1024px wide */
@media (max-width: 1024px) {
    .navbar-nav li {
        margin-right: 2rem; /* Further reduced margin */
        font-size: 14px; /* Further reduced font size */
    }

    .navbar-brand {
        font-size: 1.5rem; /* Smaller brand size */
    }

    /* Additional adjustments can be added here if needed */
}