.nav-link {
    color: #ffffff !important;
}

.logo-item {
    margin-right: auto !important;
}

.logo-link {
    font-size: 1.5em !important;
    font-weight: bold !important;
    line-height: 1;
}


