.btn-primary {
  background-color: #0e5a8a;
  border: none;
}

.btn-primary:hover {
  background-color: #1f6b9b;
  border: none;
}

.board{
  display: flex;
  width: calc(100% - 40px);
  height: 544px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

#game_canvas{

}