.homePage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.homePage-content {
    padding-bottom: 60px;
}


footer {
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
