<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible", content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
    <link href="css/fontello.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <title>Pathfinder</title>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Pathfinder</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="speed" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Speed
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="speed">
                    <li><a class="dropdown-item" href="#" id="fast">Fast</a></li>
                    <li><a class="dropdown-item" href="#" id="medium">Medium</a></li>
                    <li><a class="dropdown-item" href="#" id="slow">Slow</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="algorithms" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Algorithms
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="algorithms">
                    <li><a class="dropdown-item" href="#" id="dfs">DFS Search</a></li>
                    <li><a class="dropdown-item" href="#" id="bfs">BFS Search</a></li>
                    <li><a class="dropdown-item" href="#" id="dijkstra">Dijkstra's Algorithm</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-primary btn-lg" id="start_btn">Start Visualization!</button>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" id="clear_board">Clear Board</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About Project</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="legend">
        </div>
        <div class="board">
            <canvas id="game_canvas" width="1272" height="504"></canvas>
        </div>
        <div class="container">
          <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
              <span class="mb-3 mb-md-0 text-muted">© 2023 Przemyslaw Pisaniak, engineering project</span>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
              <li class="ms-3"><a class="text-muted" href="#"><i class="icon-mail-alt"></i></a></li>
              <li class="ms-3"><a class="text-muted" href="#"><i class="icon-linkedin-squared"></i></a></li>
              <li class="ms-3"><a class="text-muted" href="#"><i class="icon-github-circled"></i></a></li>
            </ul>
          </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/pathfinder.js"></script>
</body>
</html>